/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Feb-2018, 22:28:31
    Author     : xclei
*/
* {box-sizing: border-box}

#panelGrid {
    width: 100%;
}

.colLeft {
    width:200px;
    background-color:#aaa;
}

.colRight {
     width:500px;
}





/* Full-width input fields */
  input {
  width: 100%;
  padding: 5px;
   height: 50px;
  display: inline-block;
  border: none;
 
  
}

outputlabel{
  padding: 5px;  
  height: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  padding: 5px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */



button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.submitbtn {
  color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
  cursor: pointer; 
  float:right;
  background-color: #4CAF50;
  width: 20%
}


.loginbtn {
  color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
  cursor: pointer; 
  float:left;
  background-color: #4CAF50;
  width: 20%
}

.body

{
    margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        
    
     
}


/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
  float: Right;
  width: 50%;
}

/* Add padding to container elements */
.container {
    border-radius: 5px;
    background-color: #5DADE2;
    padding: 100px;
    margin: 50px;
}

.container2{
    border-radius: 5px;
    background-color: #CACFD2;
    padding: 20px;
    margin: 50px;
    padding: 50px;
    
}


.div_center{
    
    margin: auto;
    width: 80%
        
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.Bimage{
     background-image:url("{resources['images/capita.jpg']}");
     

   
 }
